.home_Screen {
    padding: 20px;
}

.navBar {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.search_box>button {
    margin-left: 5px;
}

.title {
    float: left;
    cursor: pointer;
}

.search_box {
    float: right;
}

.segment_2 {
    display: flex;

}

.segment_2>img {
    width: 250px;
    margin-right: 5px;
}

.text {
    display: flex;
    flex-direction: column;

}

.segment_1 {
    display: inline-block;
    width: 100%;
}

.title {
    float: left;
}

.cross_icon {
    float: right;


}

.cross_icon>img {
    width: 30px;


}

@media only screen and (min-width: 320px) and (max-width: 450px) {
    .segment_2 {
        display: flex;
        flex-direction: column;
    }

    .segment_2>img {
        width: 250px;
        margin-right: 5px;
    }

}